@import url("https://fonts.googleapis.com/css?family=Spectral");

body {
	background: #630460 url(images/black-linen-2.png);
}

h1, h2, h3 {
	font-family: 'Spectral';
	color: #9f5827;
	font-weight: bold;
	margin: .2em;
}

#container {
	display: table;
	height: 100%;
	margin: auto;
}

#main {
	display: table-cell;
	vertical-align: middle;
}

#content
{
    padding: 1em; 
	border-radius: 25px;
	background: #FFF url(images/blizzard.png);
	text-align: center;
}

#mobile {
	display: none;
}

@media handheld, screen and (max-width: 550px) {
	#main {
		width:"90%";
	}
	
	#logo {
		display: none;
	}
	
	#mobile {
		display: inline-block;
	}
}